<section id="contatos" class="contatos">
    <input class="pesquisaInput" type="text" placeholder="Pesquise por alguém...">
    <ul class="filtro">
        <img src="./assets/img/round-filter_list-24px.svg" alt="">
        <li><input type="radio" name="filtro" id="fTodos" class="fTodos">Todos</li>
        <li><input type="radio" name="filtro" id="fFavoritos" class="fFavoritos">Favoritos</li>
    </ul>
    <ul class="lista_itens">
        <!-- <li class="loader">
          <img src="./assets/img/baseline-autorenew-24px.svg" alt="Loader">
          Carregando...
      </li> -->
        <a *ngFor="let contato of listaContatos">
            <li class="item_contato">
                <img class="avatarItemContato" src="{{contato.info.avatar}}" alt="Icone de contato">
                <div class="nome_contato">{{contato.firstName}} {{contato.lastName}}</div>
                <img src="../../assets/img/baseline-favorite-24px.svg" alt="Icone de favoritado" class="fav">
            </li>
        </a>
    </ul>
    <nav class="paginacao">
        <a class="sentidoPaginacao" id="pagVoltar" href="#">
            <img src="./assets/img/round-arrow_back-24px.svg" alt="Voltar">
            Voltar
        </a>
        <a class="sentidoPaginacao" id="pagProximo" href="#">
            Próximo
            <img src="./assets/img/round-arrow_forward-24px.svg" alt="Próximo">
        </a>
    </nav>
</section>