@media(max-width: 700px){
    main{
        flex-wrap: wrap;
    }

    .contatos{
        width: 100%;
    }

    .detalhes_contato{
        width: 100%;
        border: 0;
        padding-bottom: 30px;
    }

    .lista_itens {
        margin: 0 10px;
        max-height: none;
    }

    .detalhes_contato input[type="text"],[type="email"]{
        width: 100%;
    }

    .contatos{
        border: 0;
    }

    .lista_itens{
        border-radius: 5px;
    }

    .hide{
        display: block;
    }

    .paginacao{
        position: unset;
    }
}