.pesquisaInput{
    width: calc(100% - 20px);
    margin: 10px;
}

.filtro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -25px 10px 0 10px;
}

.btnReload {
    width: 100%;
    margin-top: 20px;
    background-color: orange;
    color: #FFF; 
}

.filtro mat-radio-button {
    margin-right: 10px;
}

.progressBar {
    width: calc(100% - 60px);
    margin: 30px 30px;
}

mat-list-item {
    text-shadow: transparent 0 0 1px;
}

mat-list-item:hover{
    background-color: whitesmoke;
    transition: all 0.5s ease;
    cursor: pointer;
}

mat-list-item.active {
    background-color: #d8d8d8;
}

.nomeContato {
    width: 90%;
}

.fav {
    color: #ff8181;
    transition: all 0.5s ease;
}

.fav:hover {
    text-shadow: red 0 0 2px;
}

.avatarContato {
    width: 25px;
    height: 25px;
    background-color: var(--background-avatar);
    margin-right: 10px;
    border-radius: 50%;
}

.paginacao {
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0;
    position: absolute;
}

.sentidoPaginacao {
    color: #333;
}

.lista_itens {
    overflow: auto;
    padding: 0;
}

@media(max-height: 632px) {
    mat-list{
        max-height: 450px;
        overflow: auto;
    }

    .paginacao{
        position: unset;
    }
}

@media(max-width: 700px) {

    mat-list{
        max-height: 450px;
        overflow: auto;
    }

    .paginacao{
        position: unset;
    }

    .hide-sm{
        display: none;
    }

    .nomeContato {
        max-width: 15ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}