@media(max-width: 700px){
    main{
        flex-wrap: wrap;
    }

    #contatos{
        width: 100%;
    }

    #detalhes_contato{
        width: 100%;
    }

    #detalhes_contato{
        border: 0;
    }

    #lista_itens {
        margin: 0 10px;
    }

    #detalhes_contato input[type="text"],[type="email"]{
        width: 100%;
    }

    #contatos{
        border: 0;
    }

    #lista_itens{
        border-radius: 5px;
    }

    .hide{
        display: block;
    }
}