<section class="detalhes_contato">
    <div class="cadastro">
        <button mat-button *ngIf="contatoAtual" class="buttonFechar" [routerLink]="['/contatos']">
            <mat-icon matSuffix>close</mat-icon>
        </button>
        <button mat-button class="buttonColapseLista">
            <mat-icon matSuffix>list</mat-icon>
        </button>
        <form method="post" [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="coverContato" [ngStyle]="setarCover()"></div>
            <img #avatar (error)="onErrorAvatar(avatar)" class="avatar" src="./assets/img/round-person-24px.svg"
                alt="Icone de contato">
            <div class="containerFildset">
                <fieldset>
                    <legend>Dados pessoais:</legend>
                    <div class="formInvalido" *ngIf="editandoContato === true && formulario.valid === false">
                        <mat-icon matSuffix>error</mat-icon>
                        Existem campos do formulário que requerem atenção!
                    </div>
                    <mat-grid-list cols="1" rowHeight="70px">
                        <mat-grid-tile>
                            <mat-form-field>
                                <input type="hidden" formControlName="id">
                                <input matInput placeholder="Primeiro nome" [ngStyle]="onValidarForm('firstName')"
                                    formControlName="firstName" (input)="onEditandoContato()">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput placeholder="Sobrenome" [ngStyle]="onValidarForm('lastName')"
                                    formControlName="lastName" (input)="onEditandoContato()">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput placeholder="E-mail" [ngStyle]="onValidarForm('email')"
                                    formControlName="email" (input)="onEditandoContato()">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [ngStyle]="onValidarForm('gender')">
                            <mat-radio-group formControlName="gender" (input)="onEditandoContato()">
                                Gênero:
                                <mat-radio-button value="f">Feminino</mat-radio-button>
                                <mat-radio-button value="m">Masculino</mat-radio-button>
                            </mat-radio-group>
                        </mat-grid-tile>
                    </mat-grid-list>
                </fieldset>
                <fieldset formGroupName="info">
                    <legend>Outras informações: </legend>
                    <mat-grid-list cols="1" rowHeight="70px">
                        <mat-grid-tile>
                            <input type="hidden" formControlName="avatar" (input)="onEditandoContato()">
                            <input #iFile type="file" accept="image/*" (input)="onEditandoContato()">
                            <button mat-button class="bUpload" (click)="abrirSelecionarAvatar($event)">
                                <mat-icon matSuffix>photo</mat-icon>
                                Escolher
                            </button>
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput placeholder="Companhia" [ngStyle]="onValidarForm('info.company')"
                                    formControlName="company" (input)="onEditandoContato()">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput placeholder="Endereço" formControlName="address"
                                    (input)="onEditandoContato()">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput placeholder="Telefone" formControlName="phone"
                                    (input)="onEditandoContato()">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="1" rowHeight="300px">
                        <mat-form-field>
                            <textarea matInput placeholder="Comentário" formControlName="comments"
                                (input)="onEditandoContato()"></textarea>
                        </mat-form-field>
                    </mat-grid-list>
                </fieldset>
            </div>
        </form>
        <div class="btnGroup">
            <mat-grid-list [cols]="contatoAtual ? 2 : 1" rowHeight="100px">
                <mat-grid-tile>
                    <button class="btnSalvar" mat-button id="bSalvar" type="submit">
                        <mat-icon matSuffix>save</mat-icon>
                        Salvar
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button class="btnRemover" mat-button *ngIf="contatoAtual" (click)="deletarContato()"
                        class="btnRemove" type="button">
                        <mat-icon matSuffix>delete</mat-icon>
                        Remover
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</section>