<menu>
  <div class="menu_superior">
      <ul>
          <li>
              <a class="titulo" [routerLink]="['/contatos']">
                  <img src="./assets/img/round-contacts-24px.svg" alt="Agenda">
                  Contatos
              </a>
          </li>
          <li class="hide">
              <button id="bNovoContato">
                  <img 
                    src="./assets/img/baseline-playlist_add-24px.svg" 
                    alt="Adicionar novo contato" 
                    title="Adicionar novo contato"
                    (click)="abrirNovoContato()"
                >
              </button>
          </li>
      </ul>
  </div>
</menu>