@media(max-height:680px){
    .paginacao{
        position: unset;
    }
}

@media(max-width: 700px){
    main{
        flex-wrap: wrap;
    }

    app-detalhes-contato{
        width: 100%;
        z-index: 99;
        position: relative;
        display: none;
    }

    app-lista-contatos{
        width: 100%;
        min-height: calc(100vh - var(--height-menu));
        position: absolute;
    }

    .lista_itens {
        margin: 0 10px;
        max-height: none;
    }

    .detalhes_contato input[type="text"],[type="email"]{
        width: 100%;
    }

    .lista_itens{
        border-radius: 5px;
    }

    .hide{
        display: block;
    }
    
    .hide-ss{
        display: none;
    }
}