@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --height-menu: 0;
    --background-color: rgba(204,204,204,.3);
    --background-avatar: rgba(204,204,204,.3);
}

html body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

body {
    min-width: 384px;
}

app-detalhes-contato{
    width: 75%;
    background-color: whitesmoke;
    overflow: auto;
    position: absolute;
    right: 0;
}

app-lista-contatos{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    position: fixed;
}

@media(max-width:900px){

    app-detalhes-contato{
        width: 55%;
    }
    
    app-lista-contatos{
        width: 45%;
    }

}

/* @media(max-width:700px){

    app-detalhes-contato{
        display: none;
    }
    
    app-lista-contatos{
        width: 100%;
    }

} */