@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --height-menu: 70px;
    --background-color: rgba(204,204,204,.3);
    --background-avatar: rgba(204,204,204,.3);
}

html body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
}

body {
    min-width: 384px;
}

.hide{
    display: none;
}

app-menu-superior {
    width: 100%;
}

app-detalhes-contato{
    width: 75%;
    background-color: #FFF;
    overflow: auto;
}

app-lista-contatos{
    width: 25%;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    border: #CCC solid 1px;
    background-color: var(--background-color);
    position: relative;
}